<body class="bodySession">
  <div style="position: fixed; left: 40%; top: 30%">

    <%= form_with url: session_path do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password %>
      </div>

      <div class="actions" style="float: right;" >
        <%= f.submit 'Log In' , class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</body>
