<p id="notice"><%= notice %></p>

<p>
  <strong>Ip conn:</strong>
  <%= @visit.ip_conn %>
</p>

<p>
  <strong>,:</strong>
  <%= @visit., %>
</p>

<p>
  <strong>User agent:</strong>
  <%= @visit.user_agent %>
</p>

<p>
  <strong>,:</strong>
  <%= @visit., %>
</p>

<p>
  <strong>Operating system:</strong>
  <%= @visit.operating_system %>
</p>

<p>
  <strong>,:</strong>
  <%= @visit., %>
</p>

<p>
  <strong>Amount visits:</strong>
  <%= @visit.amount_visits %>
</p>

<p>
  <strong>,:</strong>
  <%= @visit., %>
</p>

<p>
  <strong>Shortest path:</strong>
  <%= @visit.shortest_path_id %>
</p>

<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
